{% extends "page.html.jinja2" %}
{% import "macros.jinja2" as macros %}

{% block title %}Question Preview{%  endblock %}
{% block header %}
    <h1>Question Preview</h1>
{% endblock %}

{% block content %}
    <div class="container-question-info">
        <p class="score">
            {{ ("Score: " ~ attempt.score) if attempt.score is defined else "Not yet scored" }}
        </p>
    </div>

    <div class="container-question-content">
        <div class="container-question-preview">
            <form id="question-preview" action="/submit">
                {{ question_html|safe }}
            </form>
        </div>

        {% if general_feedback or specific_feedback or right_answer %}
            <div class="container-feedback">
                {% if general_feedback %}
                    <div class="container-general-feedback">
                        {{ general_feedback|safe }}
                    </div>
                {% endif %}

                {% if specific_feedback %}
                    <div class="container-specific-feedback">
                        {{ specific_feedback|safe }}
                    </div>
                {% endif %}

                {% if right_answer %}
                    <div class="container-right-answer">
                        {{ right_answer|safe }}
                    </div>
                {% endif %}
            </div>
        {% endif %}

        {% set disabled_attribute = "disabled" if form_disabled else "" %}
        <button id="save-attempt-button" type="submit" data-route="/attempt/save" data-action="reload" form="question-preview" {{ disabled_attribute }}>Save</button>
        <button id="submit-attempt-button" type="submit" data-route="/attempt" data-action="reload" form="question-preview" {{ disabled_attribute }}>Save and submit</button>

        {% set disabled_attribute = "disabled" if not form_disabled else "" %}
        <button id="restart-attempt-button" type="button" data-route="/attempt/restart" {{ disabled_attribute }}>Restart</button>
        <button id="edit-attempt-button" type="button" data-route="/attempt/edit" {{ disabled_attribute }}>Edit</button>

    </div>

    <div class="container-display-options">
        <form id="question-display-options" action="/submit" data-action="reload">
            <h2>Display Options</h2>
            <table>
                <tbody>
                    {% for field_name, initial_value in options.items() %}
                    <tr>
                        <td>{{ field_name.replace('_', ' ') | capitalize }}:</td>
                        <td>
                            <select name="{{ field_name }}">
                                <option value="true" {% if initial_value %}selected{% endif %}>True</option>
                                <option value="false" {% if not initial_value %}selected{% endif %}>False</option>
                            </select>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td></td>
                        <td><button type="submit" form="question-display-options" data-route="/attempt/display-options">Update display options</button></td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>

    <div class="container-question-metainfo">
        <h2>Attempt Information</h2>
        <table>
            <tbody>
                <tr>
                    <td><b>Attempt Class:</b></td>
                    <td>{{ attempt.__class__ }}</td>
                </tr>
                {% for key, value in attempt.dict().items() if key not in ['ui', 'classification'] %}
                <tr>
                    <td>{{ key.replace('_', ' ') | capitalize }}:</td>
                    <td>{{ value }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {# TODO: More Preview Settings #}
    {# TODO: Role selection (admin, teacher, student, ...) #}
    {# TODO: Locale selection #}

{% endblock %}
