{% macro create_section(section_name, header, elements) %}
    <div class="container elements section" id="{{ section_name }}">
        <h3> {{ header }} </h3>
        {{ create_elements(elements) }}
    </div>
{% endmacro %}


{% macro create_elements(element_list) %}
    {% for element in element_list %}
        {% set element_reference = element.path|join('][')|replace(']', '', 1) ~ ']' %}
        {% if element.kind == "group" %}
            {{ create_group(element) }}
        {% elif element.kind == "repetition" %}
            {{ create_repetition(element) }}
        {% else %}
            {%  include "elements/" ~ element.kind ~ ".html.jinja2" %}
        {% endif %}
    {% endfor %}
{% endmacro %}


{% macro create_group(group_element) %}
    <div class="group" id="{{ group_element.id }}" name="{{ group_element.path|join('][')|replace(']', '', 1) ~ ']' }}"
        data-section="{{ group_element.path[0] }}"
        {{ {'data-hide_if': group_element.hide_if|tojson|forceescape}|xmlattr if group_element.hide_if}}
        {{ {'data-disable_if': group_element.disable_if|tojson|forceescape}|xmlattr if group_element.disable_if}}
        {{ {'data-absolute_path': group_element.path|tojson|forceescape}|xmlattr }}>
        <h3 class="group-heading">{{ group_element.label }}</h3>
        {{ create_elements(group_element.cxd_elements) }}
    </div>
{% endmacro %}


{% macro create_repetition(repetition_element) %}
    <div class="repetition" id="{{ repetition_element.id }}"
         name="{{ repetition_element.path|join('][')|replace(']', '', 1) ~ ']' }}" data-section="{{ repetition_element.path[0] }}">

        {% for repetition in repetition_element.cxd_elements %}
            <div class="repetition-content" id="">
                {{ create_elements(repetition) }}
                <button class="repetition-button-delete" id="{{ repetition_element.id }}_delete_button"
                    name="{{ repetition_element.path|join('][')|replace(']', '', 1) ~ ']' }}"
                    {{ {'data-initial_repetitions': repetition_element.initial_repetitions|tojson|forceescape}|xmlattr}}>
                    Delete
                </button>
            </div>
        {% endfor %}

        <button class="repetition-button" id="{{ repetition_element.id }}_button"
            name="{{ repetition_element.path|join('][')|replace(']', '', 1) ~ ']' }}"
            {{ {'data-repetition_increment': repetition_element.increment|tojson|forceescape}|xmlattr
                if repetition_element.increment}}>
            {{ repetition_element.button_label if repetition_element.button_label else 'Add Repetition' }}
        </button>

    </div>
{% endmacro %}


{% macro create_icon_container(label, help_text) %}
    <div class="icon_container">
        <i class="icon help_icon" title="Help with {{ label }}"></i>
        <div class="help_dialog">{{ help_text }}</div>
    </div>
{% endmacro %}