{% extends "page.html.jinja2" %}
{% import "macros.jinja2" as macros %}

{% block title %}{{ manifest.short_name }}{%  endblock %}
{% block header %}
    <h1>Adding a {{ manifest.short_name }} Question</h1>
{% endblock %}

{% block content %}
    <div class="container-manifest">
        <p class="manifest-version">Version: {{ manifest.version }}</p>
        <p class="manifest-apiversion">API Version: {{ manifest.api_version }}</p>
    </div>

    <form id="options_form">
        {{ macros.create_section("general", "General", options.general) }}
        {% for section in options.sections %}
            {{ macros.create_section(section.name, section.header, section.cxd_elements) }}
        {% endfor %}
        <a hidden="true" id="submit_success_info">Saved!</a>
    </form>
    <button id="submit-options-button" type="submit" data-route="/submit" data-action="success-info" form="options_form">Save</button>
    <button id="submit-and-redirect-options-button" type="submit" data-route="/submit" data-action="redirect" data-redirect="/attempt" form="options_form">Save and display</button>
{% endblock %}
