{% extends "elements/element.html.jinja2" %}

{% block element %}
    {# TODO: see https://moodledev.io/docs/apis/subsystems/form/advanced/checkbox-controller #}
    <div class="element {{ element_options.kind }}"
        {{ {'data-hide_if': element_options.hide_if|tojson|forceescape}|xmlattr if element_options.hide_if}}
        {{ {'data-disable_if': element_options.disable_if|tojson|forceescape}|xmlattr if element_options.disable_if}}>
        {% for checkbox_element in element_options.checkboxes %}

            <div class="info">
                {% if checkbox_element.left_label %}
                    {{ checkbox_element.left_label }}
                {% endif %}
            </div>

            <div class="answer-option">
                <label class="answer-label">
                    <input class="answer-checkbox" type="checkbox" id="{{ checkbox_element.name }}"
                            {{ 'required' if element_options.required }}
                            {{ 'checked' if element_options.selected and not form_data
                                or form_data is defined and form_data[element_options.name]}}>
                    {% if checkbox_element.right_label %}
                        {{ checkbox_element.right_label }}
                    {% endif %}
                    {{ label }}
                </label>
            </div>

        {% endfor %}
    </div>
    {# TODO: alle aus-/abwählen #}
{% endblock %}