{% extends "elements/element.html.jinja2" %}

{% block element %}
    {# TODO: see https://moodledev.io/docs/apis/subsystems/form/advanced/checkbox-controller #}
    <div class="element {{ element.definition.kind }}"
        {{ {'data-hide_if': element.definition.hide_if|tojson|forceescape}|xmlattr if element.definition.hide_if}}
        {{ {'data-disable_if': element.definition.disable_if|tojson|forceescape}|xmlattr if element.definition.disable_if}}>
        {% for checkbox_element in element.definition.checkboxes %}

            <div class="info">
                {% if checkbox_element.left_label %}
                    {{ checkbox_element.left_label }}
                {% endif %}
            </div>

            <div class="answer-option">
                <label class="answer-label">
                    <input class="answer-checkbox" type="checkbox" id="{{ checkbox_element.id }}"
                            {{ 'required' if checkbox_element.required }}
                            {{ 'checked' if checkbox_element.selected and not element.value
                                or element.value is defined and element.value}}>
                    {% if checkbox_element.right_label %}
                        {{ checkbox_element.right_label }}
                    {% endif %}
                    {{ label }}
                </label>
            </div>

        {% endfor %}
    </div>
    {# TODO: alle aus-/abwählen #}
{% endblock %}