{% extends "elements/element.html.jinja2" %}

{% block info %}
    {% if element.left_label %}
        <p class="element-label">{{ element.left_label }}{{ '*' if element.required }}</p>
    {% endif %}
    {% if element.help %}
        {% if element.left_label %}
        	{{ macros.create_icon_container(element.left_label, element.help) }}
        {% elif element.right_label %}
            {{ macros.create_icon_container(element.right_label, element.help) }}
        {% endif %}
    {% endif %}
{% endblock %}

{% block content %}
    <label class="answer-label">
        <input class="answer-checkbox" type="checkbox" id="{{ element.id }}"
                name="{{ element_reference }}"
                {{ {'data-absolute_path': element.path|tojson|forceescape}|xmlattr }}
                {{ 'required' if element.required }}
                {{ 'checked' if element.selected and not element.value
                    or element.value is defined and element.value}}>
        {% if element.right_label %}
            {{ element.right_label }}{{ '*' if element.required }}
        {% endif %}
    </label>
{% endblock %}