{% block element %}
<div class="element {{ element_options.kind }}" id="el_{{ section_name }}_{{ element_options.name }}"
        data-section="{{section_name}}"
        {{ {'data-hide_if': element_options.hide_if|tojson|forceescape}|xmlattr if element_options.hide_if}}
        {{ {'data-disable_if': element_options.disable_if|tojson|forceescape}|xmlattr if element_options.disable_if}}>
    <div class="info">
        {% block info %}
            <p class="element-label">{{ element_options.label }}{{ '*' if element_options.required }}</p>
        {% endblock %}
    </div>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
</div>
{% endblock %}