{% import "./macros.jinja2" as macros %}

{% block element %}
<div class="element {{ element.kind }}" id="{{ element.id }}"
        data-section="{{ element.path[0] }}"
        {{ {'data-absolute_path': element.path|tojson|forceescape}|xmlattr }}
        {{ {'data-hide_if': element.hide_if|tojson|forceescape}|xmlattr if element.hide_if}}
        {{ {'data-disable_if': element.disable_if|tojson|forceescape}|xmlattr if element.disable_if}}>
    <div class="info">
        {% block info %}
            <p class="element-label">{{ element.label }}{{ '*' if element.required }}</p>
            {% if element.help %}
                {{ macros.create_icon_container(element.label, element.help) }}
            {% endif %}
        {% endblock %}
    </div>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
</div>
{% endblock %}