{% extends "elements/element.html.jinja2" %}

{% block element %}
<div class="element {{ element.kind }}" id="{{ element.id }}"
        data-section="{{ element.path[0] }}" style="display: none"
        {{ {'data-absolute_path': element.path|tojson|forceescape}|xmlattr }}
        {{ {'data-hide_if': element.hide_if|tojson|forceescape}|xmlattr if element.hide_if}}
        {{ {'data-disable_if': element.disable_if|tojson|forceescape}|xmlattr if element.disable_if}}>
    <div class="content">
        {% block content %}
            <input class="input-hidden" type="hidden" name="{{ element_reference }}"
                   value="{{ element.value }}" id="{{ element.id }}">
        {% endblock %}
    </div>
</div>
{% endblock %}