{% extends "elements/element.html.jinja2" %}

{% block content %}
    <span class="input-span">
        <input class="input-text" id="{{ element_id }}" name="{{ element_reference }}"
            {{ {'placeholder': element_options.placeholder}|xmlattr if element_options.placeholder }}
            {{ 'required' if element_options.required }}
            {{ 'checked' if element_options.selected }}
            {{ {'value': form_data}|xmlattr if form_data }}
            {{ {'data-absolute_path': absolute_path|tojson|forceescape}|xmlattr }}>
    </span>
{% endblock %}