{% extends "elements/element.html.jinja2" %}

{% block content %}
    <fieldset id="{{ element.id}}">
        {% for option in element.cxd_options %}
            <div class="answer-option">
                <label class="answer-label">
                    <input type="radio" class="answer-{{ element.kind }}"
                            id="{{ element.id ~ "-" ~ option.value }}" value="{{ option.value }}"
                            name="{{ element_reference }}"
                            {{ 'checked' if option.selected and not element.value
                                or element.value is defined and element.value == option.value}}
                            {{ {'data-absolute_path': element.path|tojson|forceescape}|xmlattr }}>
                    {{ option.label }}
                </label>
            </div>
        {% endfor %}
    </fieldset>
{% endblock %}