{% extends "elements/element.html.jinja2" %}

{% block content %}
    <fieldset id="{{ element_options.name }}">
        {% for option in element_options.options %}
            <div class="answer-option">
                <label class="answer-label">
                    <input type="radio" class="answer-{{ element_options.kind }}" name="{{ element_options.name }}"
                            id="{{ element_options.name ~ "-" ~ option.value }}" value="{{ option.value }}"
                            {{ 'checked' if option.selected and not form_data
                                or form_data is defined and form_data[element_options.name] == option.value}}>
                    {{ option.label }}
                </label>
            </div>
        {% endfor %}
    </fieldset>
{% endblock %}